:root{
    --primary-color: #10B981;
    --dark-gray: #6B7280;
    --off-white: #DDD6FE;
}

body{
    margin: 0px;
    /* background-color: var(--off-white); */
}

textarea{
    height: 10vh;
    width:80%;
    display: block;
    margin: 1rem;
    padding: 1rem;
}

#output{
    height: 10vh;
    width:80%;
    display: block;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
}